{% extends "index.html" %}
{% block content %}



   <div class="short-codepara-grid">
	<div class="short-codepara-grid-head5">
		 <center><span> </span></center>
		 <center><h5>Datos de la habitacion</h5> </center>
	</div>
		<center><p>Indique los datos correspondientes</p> </center>
</div>
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<style type="text/css">  
  html { height: 100% }  
  body { height: 50%; margin: 40px; padding: 50px }  
  #map_canvas { height: 100% }  
</style>  
<script type="text/javascript"  
    src="http://maps.google.com/maps/api/js?sensor=false">  
</script>  
<script type="text/javascript">  
 var map;

function initialize() {
  var myLatlng = new google.maps.LatLng({{lat}},{{lng}});
  var mapOptions = {
    zoom: 10,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  
  google.maps.event.addListener(map, 'click', function(event) {
	document.getElementById("Lat").value = event.latLng.lat();
	document.getElementById("Long").value = event.latLng.lng();
    placeMarker(event.latLng);
   
  });
}

function placeMarker(location) {
  var marker = new google.maps.Marker({
      position: location,
      map: map
  });
  map.setCenter(location);
}


</script>
</head>  

<body onload="initialize()">  
  <div id="map_canvas" style="width:100%; height:100%"></div> 
  <form name="input" action="{{url_for('Agrega_Habitacion')}}" method="post">
	<font color="blue"><p> Datos Generales </font>
        
	<p>

	</p>
	&nbsp;&nbsp;Nombre del apartamento <input type="text" name="nombre" size="20" required><br>
	<p>
	</p>
	
	&nbsp;&nbsp;Descripción <input type="text" name="descripcion" size="20" required><br>
<p>
	</p>
	&nbsp;&nbsp;E-mail  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="email" size="20" required> <br> 
<p>
	</p>
	&nbsp;&nbsp;Precio  &nbsp;&nbsp;&nbsp;&nbsp; <input type="number" name="precio1" pattern="[0-1-2-3-4-5-6-7-8-9]{1,9}" required><br>
<p>
	</p>
	&nbsp;&nbsp;Número de cuartos  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="number" name="cuartos"  size="1" pattern="[0-1-2-3-4-5-6-7-8-9]{1,9}"  required> <br> 
<p>
	</p>
	&nbsp;&nbsp;Número de baños  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="number" name="banos" size="1" pattern="[0-1-2-3-4-5-6-7-8-9]{1,9}"  required> <br> 
<p>
	</p>
	&nbsp;&nbsp;Teléfono&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <input type="text" name="telefono" size="1" pattern="[0-1-2-3-4-5-6-7-8-9]{1,9}"  required><br>
<p>
	</p>
	&nbsp;&nbsp;Número de personas &nbsp;&nbsp;&nbsp; <input type="number" name="personas" size="1" pattern="[0-1-2-3-4-5-6-7-8-9]{1,9}" required><br>
	<p>
	</p>
	<font color="blue"><p> Servicios brindados</font>
	</p>
	<p>
	</p>
<!-- Servicios  -->
      <input type="checkbox" value="amueblado"  name="amueblado"  />Amueblado<br>
      <input type="checkbox" value="agua"  name="agua"  />Agua<br>
      <input type="checkbox" value="luz"  name="luz"  />Luz<br>
      <input type="checkbox" value="cable"  name="cable"  />Cable<br>
      <input type="checkbox" value="internet"  name="internet"  />Internet<br>
      <input type="checkbox" value="cochera"  name="cochera"  />Cochera<br>
<!-- Servicios de habitacion -->
      <input type="checkbox" value="limpieza"  name="limpieza"  />Limpieza<br>
      <input type="checkbox" value="lavanderia"  name="lavanderia"  />Lavandería<br>
      <input type="checkbox" value="comida"  name="comida"  />Comida<br>
      <input type="checkbox" value="bano"  name="bano"  />Baño Compartido<br>
	<input type=HIDDEN name= "La" id="Lat" >
	<input type=HIDDEN name= "Lo" id="Long" >


 	<p>
	</p>
      <input type="submit" value="Aceptar">

</form>
  
<a id="Coor" href="{{url_for('Guardar')}}" /></a>
</body>  
   
    



{% endblock %}
